<!DOCTYPE html>
<html>
<head>
    <title>IETI Message Center</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% load static %}
</head>
<body>
    <header>
        <div class="flex justify-around">
            <div class="flex flex-col justify-center items-center">
                <a href="/"><img src="{% static 'logo.png' %}" alt="Logo" class="w-[80px] h-[80px]"></a>
                <h1 class="text-sky-800 font-bold">IETI Message Center</h1>
            </div>
            <img src="{% static 'cabecera_web.jpg' %}" alt="Cabecera" class="h-[170px] w-[1000px]">
            <div class="flex flex-col justify-center items-center font-bold">
                {% if user.is_authenticated %}
                    <p class="mb-[15px] text-blue-800 font-bold">Bienvenido, {{ user }}</p>
                    <button class="rounded-lg p-1 mb-4 bg-blue-800 w-[130px] h-[40px] text-[#ededed]" onclick="location.href='/token'">API token</button>
                    <button class="rounded-lg p-1 bg-blue-800 w-[130px] h-[40px] text-[#ededed]" onclick="location.href='/logout'">Cerrar sesión</button>
                {% else %}
                    <p class="mb-[15px] text-blue-800 font-bold">No has iniciado sesión</p>
                    <button class="rounded-lg p-1 bg-blue-800 w-[130px] h-[40px] text-[#ededed]" onclick="location.href='/login'">Iniciar sesión</button>
                {% endif %}
            </div>

        </div>

    </header>

    <main class="bg-blue-800 text-white">
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>Pie de página</p>
    </footer>
</body>
</html>
