{% extends "base.html" %}

{% block content %}
<div class="flex justify-around">
    {% include 'sites.html' %}

    <div class="justify-center">
        {% if user.current_sms < user.max_sms %}
        <H2 class="font-bold text-xl mt-4">IETI Message Center</H2>
        <p class="mb-3 mt-1">Bienvenido, {{user}}, te quedan <b>{{ remain_sms }}</b> de un total de <b>{{ user.max_sms }}</b> mensajes por mandar el día de hoy.</p>
        <form class="font-bold" method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <button  class=" font-bold rounded-lg p-0.5 px-1 bg-white text-blue-800 mt-3 mb-10" type="submit">Enviar SMS</button>
        </form>
        {% else %}
            <p>{{user}}, ya no te quedan más mensajes por hoy. Alcanzaste tu límite, {{ user.max_sms }}</p>>
        {% endif %}
    </div>

    {% include 'admin_panel.html' %}
</div>
{% endblock %}