{% extends "base.html" %}

{% block content %}
<div class="flex justify-around">
    {% include 'sites.html' %}

    <div class="justify-center">
        <H2 class="font-bold text-xl mt-4">IETI Message Center:</H2>
        <p>El mensaje se ha enviado correctamente. A continuación, te mostramos los detalles:</p>
        <p>- Te quedan <b>{{ remain_sms }}</b> de un total de <b>{{ user.max_sms }}</b> mensajes por mandar el día de hoy.</p>
        {% if contact_saved != None %}
            <p><b>- Destinatario:</b> {{ message.receiver }} ({{ contact_saved}}).</p>
        {% else %}
        <p><b>- Destinatario:</b> {{ message.receiver }}</p>
        {% endif %}
        <p><b>- Mensaje:</b> {{ message.text }}</p>
        <p><b>- Fecha de envío:</b> {{ message.send_date }}</p>

        <button  class=" font-bold rounded-lg p-0.5 px-1 bg-white text-blue-800 mt-3 mb-10 hover:bg-slate-200" onclick="location.href='/'">Volver al dashboard</button>
    </div>

    {% include 'admin_panel.html' %}
</div>
{% endblock %}