<div>
    <p class="font-bold text-xl mt-4">Páginas de interés:</p>
    <ul class="list-disc text-blue-800 font-bold">
        <li class="bg-slate-300 rounded-lg my-1.5">
            <a href="https://www.iesesteveterradas.cat/" class="block px-3 py-1">
                Web Esteve Terradas
            </a>
        </li>
        <li class="bg-blue-300 rounded-lg my-1.5">
            <a href="https://moodle.esteveterradas.cat/" class="block px-3 py-1">
                Moodle Esteve Terradas
            </a>
        </li>
    </ul>
    
</div>