{% extends "base.html" %}

{% load static %}
{% block content %}
    <div class="flex justify-around">
        {% include 'sites.html' %}
            
        <div class="p-5 font-bold">
            <h2 class="text-xl">Opciones de mi API Token:</h2>
            <form method="post">
                {% csrf_token %}
                <div class="flex my-2">
                    <p>Token actual:</p><p class="ml-2 font-normal hover:cursor-pointer" id="token" onclick="tokenReveal()">Pulsa para desvelar el token</p>
                    <p id="copy-button"><img src="{% static 'images/clipboard.png' %}" class="ml-3 Lw-[25px] h-[25px] p-1 rounded-lg bg-slate-300 hover:cursor-pointer" alt="Copiar" title="Copiar en el portapapeles"></p>
                </div>
                <button type="submit" class=" bg-slate-300 text-blue-800 p-0.5 px-1.5 font-bold rounded-lg">Generar nuevo token</button>
            </form>
        </div>
        
        {% include 'admin_panel.html' %}
    </div>
    <script>
        var token = "{{ user.api_token }}";
        var tickImage = "{% static 'images/tick.png' %}";
    </script>
    <script src="{% static 'scripts/token.js' %}"></script>
{% endblock %}
